 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services {
    padding: 100px 20px; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
}

.services h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffefef;
}

.services p {
    font-size: 18px;
    margin-bottom: 20px; 
    color: #ffffff;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px; 
}

.service-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.service-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.service-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.service-item p {
    font-size: 16px;
    color: #555;
}

.service-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}