body:has(.reservasContainer) {
    font-family: Arial, sans-serif;
    background-image: url('/carrr.jpg');
     /* Ruta correcta a la imagen en public/images */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.reservasContainer header {
    display: flex;
    align-items: center;
    background-color: rgba(49, 47, 47, 0.8); /* Fondo blanco semitransparente */
    padding: 10px 20px;
    border-bottom: 1px solid #2b9103;
    width: 100%;
}

.logo {
    height: 50px;
}

.reservasContainer nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.reservasContainer nav li {
    margin-left: 20px;
}

.reservasContainer nav a {
    text-decoration: none;
    color: #f7f4f4;
    font-weight: bold;
}

.reservasContainer main {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
}
